@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color: #213547;
  background-color: #ffffff;
  margin: 0;
  padding: 0;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

#root {
  height: 100vh;
  width: 100vw;
  position: relative;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  place-items: center;
  min-width: 480px;
  min-height: 100%;
  height: 100vh;
  width: 100vw;
}

button {
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
